

<ion-content>
<div class="flex-center" style="background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 20%);" >
  <ion-card style="border-radius: 20px;width: 60%;height:400px;background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 70%, #2B86C5 70%);" class="ion-text-start">
    <ion-card-header style="margin-top: 50px;">
      <ion-card-title style=" font-weight: bold; color: white;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Adal Fintech Ltd</ion-card-title>
      <ion-card-subtitle style=" font-weight: bold; color: white;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Login Page</ion-card-subtitle>
    </ion-card-header>
    <ion-item color="transparent" style="width: 70%;">
      <ion-input     placeholder="Enter Email"></ion-input>
    </ion-item>
    <br>
    <ion-item color="transparent" style="width: 70%;" >
      <ion-input type="password" placeholder="Enter Password"></ion-input>
    </ion-item>
  </ion-card>
</div>

</ion-content>
