.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // background: linear-gradient(90deg,var(--ion-color-tertiary) 10%, var(--ion-color-primary) 100%);
}